{% extends 'baselogin.html' %}
{% block title %} Property User {% endblock title %}
{% block form %}
<h2>add Property user</h2>
{% include "message.html" %}
<div class="row">
<div class="col-md-4">
    <a href="/logoutadmin" class="btn btn-danger">Logout</a>
</div>
<div class="col-md-4">
<form action="/addPropertyuser" method="post">
    <div class="form-group">
        <input type="text" class="form-control mt-2" placeholder="Enter PropertyCode" name="pcode" pcode required>
</div>

<div class="form-group">
    <input type="email" class="form-control mt-2" placeholder="Enter the Email" name="email" required>
</div>

<div class="form-group">
    <input type="password" class="form-control mt-2" placeholder="Enter Password" name="password" required>
</div>


<button type="submit" class="btn btn-info"> Add </button>

</form>

</div>

<div class="col-md-4"></div>
{% endblock form %}