<html>
    <head></head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <body>
<br>
<br>
<br>
<br>
<br>


<center><div class="card-body text-center" style="background-color:#c0c0c0; max-width: 30%; border-radius:10px; ">
    
    <!-- Correct the form tag placement -->
    <form action="/pedit/{{user_data.pcode}}" method="post" style="max-width: 400px; margin: auto;"><br>
        <center><h1>Update</h1></center>
        <div class="form-group">
            <input type="text" name="pcode" value="{{ user_data.pcode }}" readonly required class="form-control">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Location" name="plocation" value="{{ user_data.plocation }}" class="form-control mt-2" required>
        </div>
        <div class="form-group">
            <select name="ptype" placeholder="Type" value="{{ user_data.ptype }}" class="form-control mt-2" required>
                <option value="Sell">Sell</option>
                <option value="Rent">Rent</option>
                <option value="Lease">Lease</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Number of BedRoom's?" value="{{ user_data.bedroom }}" name="bedroom" class="form-control mt-2" required>
        </div>
        <!-- Input field to display dimensions -->
        <div class="form-group">
            <input type="text" name="dimension" id="dimensionInput" value="{{ user_data.dimension }}" class="form-control mt-2" readonly>
        </div>
        <!-- Input fields for length and width -->
        <div class="form-group">
            <input style="width: 200px;" type="number" id="length" placeholder="Add Length" name="length" class="form-control mt-2" required>
            <input style="width: 200px;" type="number" id="width" placeholder="Add Width" name="width" class="form-control mt-2" required>
        </div>
        <br>
        <script>
            // Add event listener to input fields
            document.getElementById('length').addEventListener('input', updateDimensions);
            document.getElementById('width').addEventListener('input', updateDimensions);

            function updateDimensions() {
                // Get values from input fields
                var length = document.getElementById('length').value;
                var width = document.getElementById('width').value;

                // Display dimensions in the input field above
                document.getElementById('dimensionInput').value = length + '*' + width + "feet";
            }
        </script>
        <div class="form-group">
            <input type="text" placeholder="Price" value="{{ user_data.price }}" name="price" class="form-control mt-2" required>
        </div>
        <button class="btn btn-info" type="submit">Update</button>
    </form>
</div></center>





</body>
</html>
